@import url('./userNameStyle.sass')
@import url('./card.sass')
@import url('./reply.sass')
@import url('./video.sass')
@import url('./music.sass')

/**
 * $pos {Number{require,String}} 渐变方向 例：【to bottom】【to top】
 */
@mixin card-grad($pos)
    background: linear-gradient($pos, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%)
    background: -webkit-linear-gradient($pos, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%)
    background: -moz-linear-gradient($pos, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%)
    background: -o-linear-gradient($pos, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%)
    background: -ms-linear-gradient($pos, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%)

.card .q-img__content > div
    padding: 8px
    @include card-grad(to bottom)

.lgr-tb
    @include card-grad(to bottom)

.lgr-tt
    @include card-grad(to top)

.bg-ts-dark
    background: rgba(0,0,0,.35)

//  用户认证标识位置微调
.ren-zheng
    transform: translate(3px, 4px)

.op-0
    opacity: 0

.op-1
    opacity: 1

// 滚动元素宽度超出限制
.set-scroll-width .q-scrollarea__content
    width: 100%

.cur-grab
    cursor: grab

// 收藏夹搜索框
.star-search.q-field--dense .q-field__control
    height: 30px

.pc-img-pix
    image-rendering: pixelated
